* {
  margin: 0;
  padding: 0;
  box-sizing: none;
}

.container {
  height: 1000px;
  display: grid;
  grid-template:
    "header header header header header" 20px
    "whitespace left   middle right whitespace" 2fr
    "whitespace left   middle right whitespace" 1fr /
    1fr     1fr     2fr     1fr     1fr;
  gap: 20px;
}

.header {
  grid-area: header;
  background-color: red;
}
.left {
  grid-area: left;
  background-color: blue;
}
.right {
  grid-area: right;
  background-color: cyan;
}
.middle {
  grid-area: middle;
  background-color: blueviolet;
}

.whitespace {
  grid-area: whitespace;
  background-color: rgb(220, 220, 220);
}
